.input {
  display: flex;
  align-items: center;
}
.input label {
  font-weight: bold;
  margin-right: 1rem;
  font-size: 18px;
}
.input input {
  width: 3rem;
  border-radius: 5px;
  padding-left: 0.5rem;
  font: inherit;
  border: 1px solid #ccc;
}
